/* Grid layout */
.notes-grid {
    /* display: grid; */
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 12px;
    padding: 20px;
    margin: 0 8%;
}

/* Note card styling */
.note-card {
    max-width: 400px;
    min-width: 300px;
    flex: 1 1 300px;

    background: #f5f5f5;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
    overflow: hidden;
}

.note-card:hover {
    transform: scale(1.05);
}

.note-card .card-title {
    font-size: 1.2em;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 2.8em;
    line-height: 1.4em;
    margin-bottom: 5px;
}

.note-card .card-text{
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.note-card .card-footer{
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}

.note-card button{
    width: 48%;
}

/* Modal overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Modal content */
.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 40%;
    text-align: center;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.modal-content p{
    white-space: pre-wrap;
    word-wrap: break-word;
    max-width: 100%;
    overflow-wrap: break-word;
}

/* Close button */
.close-btn {
    position: absolute;
    right: 15px;
    top: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
